@import "MediaQueries";

.event-container {
  position: relative;
  height: 350px;
  .img-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    &:hover img{
        filter: grayscale(0%);
    }
    img {
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      height: 350px;
      filter: grayscale(100%); /* Aplicar desaturación en blanco y negro inicialmente */
      transition: filter 0.3s;
    }
  }
  .txt-container {
    position: absolute;
    left: 0;
    z-index: 2;
    bottom: 0;
    padding: 10px;
  }
  .edit-btn {
    position: absolute;
    right: 2%;
    top: 3%;
    background-color: #14B8A6;
    padding: 8px 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.15s linear;
    &:hover {
      background-color: #119485 !important;
    }
  }

  .delete-btn {
    position: absolute;
    right:11%;
    top: 3%;
    background-color: #e97979;
    padding: 8px 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.15s linear;
    &:hover {
      background-color: #c05a5a !important;
    }
  }
}
