.modal-container {
  position: fixed;
  background-color: #0000002e !important;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  .modal {
    background-color: #fff;
    min-width: 400px;
    min-height: 300px;
    border-radius: 20px;
    padding: 30px;
    .modal-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .close-btn {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      span {
        color: #000;
      }
    }
  }
}
