@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Wonder Season";
  src: url(/app/assets/wonder-season.otf) format("otf");
}

html {
  height: 100%;
}

.service-container {
  margin: 20px 40px;
}
.service-text {
  padding: 20px 30px;
  border: 1px solid black;
  border-radius: 20px;
}

.title {
  font-family: "Wonder Season";
  font-size: 42px;
  padding: 80px 0px 50px 50px;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .info-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    text-align: center;
    .icon {
      margin: 30px;
      display: flex;
      justify-content: center;
    }
    .text {
      color: #333333;
      background-color: #d6d4d4;
      width: fit-content;
      padding: 10px 20px;
      border-radius: 50px;
    }
  }
}

